# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.metadata

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env

# Platform specific
## Android
android/.cxx/
android/app/debug.keystore
android/key.properties
android/local.properties
android/build/

## iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/

# Ignore unused platforms
/windows/
/linux/
/web/
/macos/

# CMake
cmake-build-debug/
cmake-build-release/

# Google API keys and other resources
GoogleService-Info.plist
google-services.json
firebase_options.dart
firebase.json
